<nav class="navbar">
    <div class="navbar__content">
        <div class="navbar__header"><a href="/<%= type %>/dashboard"><%= name %>'s Apartments</a></div>
        <div class="navbar__logout"><a href="/logout">Logout</a></div>
    </div>
</nav>