<nav class="navbar">
    <div class="navbar__content">
        <div class="navbar__header"><%= name %>'s Apartments </div>
        <div class="navbar__logout"><a href="/logout">Logout</a></div>
    </div>
</nav>