<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Dashboard</title>
</head>
<body>
    Hello, <%= user.OwnerName %> as an owner! <a href="/logout">Logout</a>
    <br/><br/>
    <a href="/owner/addBuilding">Add Building</a>
    <br/><br/>
    My Buildings:
    <ul>
    <% buildings.forEach(function(building){ %>
        <li><%= building.BuildingName %>: <%= building.Address %></li>
    <% }); %>
    </ul>
</body>
</html>