<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Dashboard</title>
    <link rel="stylesheet" href="/static/css/customStyles.css" />
</head>
<body>
    <%- include("./partials/navbar.ejs", {name: user.OwnerName}) %> 

    <div class = "container">
        <div class="my-buildings">
            <div class="my-buildings__header">
                <h2>My Buildings</h2>
                <a class="button" href="/owner/addBuilding">Add Building</a>
            </div>
            <ul class="building-list">
            <% buildings.forEach(function(building){ %>
                <li><%= building.BuildingName %>: <%= building.Address %></li>
            <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>