<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Registration</title>
    <link rel="stylesheet" href="/static/css/customStyles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css" integrity="sha512-BIyIsOFJCQKKhxrCMtXBi1RJTXmV1vuMEWCRbU/UFieuYyvGAbl03GktViTWKM39yu9Jywbec1V0cRbQ6KgMVQ==" crossorigin="anonymous" />
</head>
<body>
    <%- include("./partials/navbar.ejs", {name: user.OwnerName , type: "owner"}) %> 
    <div class = "addBuilding">
        <form method="POST" class="addBuilding__form">
            <div class="addBuilding__details">
                <label>Building Name: </label>
                <input type="text" id="name" name="name">
            </div>
            <div class="addBuilding__details">
                <label>Address: </label>
                <input type="text" id="address" name="address">
            </div>
            
            <div class="addBuilding__details">
                <label>Floors: </label>
                <input type="text" id="floors" name="floors">
            </div>
            
            <div class="addBuilding__details">
                <label>Number of Apartments: </label>
                <input type="text" id="apartments" name="apartments" onchange="changeHandler()">
            </div>
            <div id="apsList" class="ui accordion">
                
            </div>
            <div>
                <input type="submit" value="Add Building" class="button button__center">
            </div>
        </form>
    </div>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js" integrity="sha512-zy/iMxvOAQO5VsB1/enNUXKWxoSBFAyjXwwwIU+sMYf2+iOnqoW2EokpAnnTwue6/Kcv3w7qyALGbppj3mOVgA==" crossorigin="anonymous"></script>
    <script language='javascript'>
        $(document).ready(function(){
           $('.ui.accordion').accordion();
        });
    </script>
    <script>
        const apartments = document.getElementById('apartments');
        const apsList = document.getElementById('apsList');

        const changeHandler = function(e) {
            let aps = apartments.value;
            while(apsList.hasChildNodes()) {
                apsList.removeChild(apsList.lastChild);
            }
            for (let i=1; i<=aps; i++){
                let div = document.createElement('div');
                div.classList.add("apsList__apartment")
                div.innerHTML = `
                <div class="title">
                    <i class="dropdown icon"></i>
                    Apartment ${i}
                </div>
                <div class="content">
                    <div class="apsList__details">
                        <label>Flat Number: </label>
                        <input type="text" id="flatnumber${i}" name="flatnumber${i}">
                    </div>
                    <div class="apsList__details">
                        <label>Tenant: </label>
                        <select name="tenantid${i}" id="tenantid${i}">
                            <% tenants.forEach(function(tenant){ %>
                                <option value="<%= tenant.Id %>"><%= tenant.TenantName %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="apsList__details">
                        <label>Rent: </label>
                        <input type="text" id="rent${i}" name="rent${i}">
                    </div>
                    <div class="apsList__details">
                        <label>Start Date: </label>
                        <input type="date" id="startdate${i}" name="startdate${i}">
                    </div>
                </div>
                `
                apsList.appendChild(div);
            }
        }

        apartments.addEventListener('onchange', changeHandler);
    </script>
</body>
</html>