<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Registration</title>
    <link rel="stylesheet" href="/static/css/customStyles.css" />
</head>
<body>
    <%- include("./partials/navbar.ejs", {name: user.OwnerName}) %> 
    <div class = "addBuilding">
        <form method="POST" class="addBuilding__form">
            <div>
                <label>Building Name: </label>
                <input type="text" id="name" name="name">
            </div>
            
            <div>
                <label>Address: </label>
                <input type="text" id="address" name="address">
            </div>
            
            <div>
                <label>Floors: </label>
                <input type="text" id="floors" name="floors">
            </div>
            
            <div>
                <label>Number of Apartments: </label>
                <input type="text" id="apartments" name="apartments" onchange="changeHandler()">
            </div>
    
            <div id="apsList">
    
            </div>
    
            <input type="submit" value="Add Building" class="button">
        </form>
    </div>
    <script>
        const apartments = document.getElementById('apartments');
        const apsList = document.getElementById('apsList');

        const changeHandler = function(e) {
            let aps = apartments.value;
            while(apsList.hasChildNodes()) {
                apsList.removeChild(apsList.lastChild);
            }
            for (let i=1; i<=aps; i++){
                let div = document.createElement('div');
                div.innerHTML = `
                Apartment ${i}
                <br/>
                <label>Flat Number: </label>
                <input type="text" id="flatnumber${i}" name="flatnumber${i}">

                <label>Tenant: </label>
                <select name="tenantid${i}" id="tenantid${i}">
                    <% tenants.forEach(function(tenant){ %>
                        <option value="<%= tenant.Id %>"><%= tenant.TenantName %></option>
                    <% }); %>
                </select>

                <label>Rent: </label>
                <input type="text" id="rent${i}" name="rent${i}">

                <label>Start Date: </label>
                <input type="date" id="startdate${i}" name="startdate${i}">
                <br/><br/>
                `
                apsList.appendChild(div);
            }
        }

        apartments.addEventListener('onchange', changeHandler);
    </script>
</body>
</html>