<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tenant Registration</title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="/static/fonts/material-icon/css/material-design-iconic-font.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/vendor/nouislider/nouislider.min.css"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="signup-content">
          <div class="signup-img">
            <a href="/">
            <img src="/static/images/undraw_step_to_the_sun_nxqq.svg" class="image-login" alt="Tenant Registration" />
            </a>
            <div class="signup-img-content">
              <!-- <p>Registration page of Tenant</p> -->
            </div>
          </div>
          <div class="signup-form">
            <form method="POST" class="register-form" id="register-form">
              <h2>Tenant Registration</h2>
              <br><br>
              <div class="form-row">
                <div class="form-group">
                  <div class="form-input">
                    <label for="name" class="required">Name</label>
                    <input type="text" id="name" name="name" required/>
                  </div>
                  <div class="form-input">
                    <label for="contact" class="required">Contact</label>
                    <input type="text" id="contact" name="contact" required/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-input">
                    <label for="name" class="required">Address</label>
                    <textarea type="text" id="address" name="address" required></textarea>
                  </div>
                  <div class="form-input">
                    <label for="password" class="required">Password</label>
                    <input type="password" id="password" name="password" required/>
                  </div>
                </div>
              </div>
              <a href="/tenant/login" class="form-link">Tenant Login</a>

              <div class="form-submit">
                <input
                  type="submit"
                  value="Register"
                  class="submit"
                  id="submit"
                  name="submit"
                />
                <!-- <input
                  type="submit"
                  value="Reset"
                  class="submit"
                  id="reset"
                  name="reset"
                /> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/nouislider/nouislider.min.js"></script>
    <script src="/static/vendor/wnumb/wNumb.js"></script>
    <script src="/static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
